@*@model List<RealEstateApp.Models.RealEstate>*@


<app-root></app-root>


<app-list></app-list>
@*<h2>Index</h2>

  <p>
      @Html.ActionLink("Create New", "Create")
  </p>
  <table class="table">
      <tr>
          <th>
              @Html.DisplayNameFor(model => model.area)
          </th>
          <th>
              @Html.DisplayNameFor(model => model.price)
          </th>
          <th></th>
      </tr>

  @foreach (var item in Model) {
      <tr>
          <td>
              @Html.DisplayFor(modelItem => item.area)
          </td>
          <td>
              @Html.DisplayFor(modelItem => item.price)
          </td>
          <td>
              @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
              @Html.ActionLink("Details", "Details", new { id=item.id }) |
              @Html.ActionLink("Delete", "Delete", new { id=item.id })
          </td>
      </tr>
  }

  </table>*@
